/*webkit-sassui-absolute-center Start*/
.webkit-sassui-absolute-center {
  &-x,
  &-xy,
  &-y {
    position: absolute;
    margin: auto;
  }

  &-x,
  &-xy {
    left: 0;
    right: 0;
  }

  &-xy,
  &-y {
    top: 0;
    bottom: 0;
    &[data-pretty="true"] {
      top: -25%;
    }
  }
}
/*webkit-sassui-absolute-center End*/
